
<ion-content [fullscreen]="true">

  <div class="center">
    <h1>Barcode Scan</h1>
    <div class="break"></div>
    <input class="barcode" type="image" src="../../assets/image/barcode.png" [routerLink]="['/item-list']"/> <!--Ideally this would take you to a camera app screen to scan barcodes-->
    <div class="break"></div>
    <ion-item class="border" lines="none">
      <ion-input placeholder="Search">
      </ion-input>
    </ion-item>
    <ion-button class="SearchBtn"expand="full" [routerLink]="['/item-list']">
      <ion-icon class="fSize"name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
  
</ion-content>
