<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Ideally this page would be customized for for every item in a made database</h1>
  <h2>This is a example page for the first search result</h2>
  <ion-card>
    <img style="display: block;margin-left: auto; margin-right: auto;" src="../../assets/image/chibi-robo.jpg" />
    <ion-card-header>
      <ion-card-title>Chibi Robo</ion-card-title>
      <ion-card-subtitle>GameCube</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      The player takes on the role of the eponymous character, Chibi-Robo, a 10-centimeter-tall robot that has a power plug for a tail. Gameplay revolves around navigating a household and collecting "Happy Points". These points are accumulated by completing various tasks from housework to helping solve the dilemmas of the Sanderson family and the numerous living toys that inhabit their household. Every action by the game's battery-powered protagonist consumes energy, requiring the player to recharge using the home's electrical outlets. 
    </ion-card-content>
  </ion-card>
  <ion-list style="margin-bottom: 40px;">
    <ion-item>
      <ion-label>
        <h1>Loose Price</h1>
        <h3 style="color: green;">$115.28</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Complete Price</h1>
        <h3 style="color: green;">$177.50</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>New Price</h1>
        <h3 style="color: green;">$266.00</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>